* {
  margin: 0;
  padding: 0;
}

.nav-section {
  position: absolute;
  top: 0;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
}

.nav {
  width: 85%;
  display: flex;
  justify-content: space-between;
  background: rgb(192, 192, 248);
  padding: 10px 5px;
}

.nav img {
  margin: 15px;
}

.nav-items {
  /* background: red; */
}
.nav-items ul {
  padding: 10px;
  display: flex;
  column-gap: 25px;
  align-items: center;
}
.nav-items ul li {
  list-style: none;
  font-size: 20px;
}
.nav-items ul li a {
  text-decoration: none;
}

.myButton {
  background-color: rgb(224, 211, 204);
  border-radius: 23px;
  border: 2px solid #847675;
  display: inline-block;
  cursor: pointer;
  color: #1d1919;
  font-family: Arial;
  font-size: 17px;
  padding: 10px 13px;
  text-decoration: none;
}
.myButton:hover {
  background: rgb(244, 192, 166);
}

.header {
  text-align: center;
  padding-top: 70px;
  background: url('/assets/images/bg2.jpg');
  background-repeat: no-repeat;
  background-size: center;
  height: 400px;
}

.header h2 {
  font-size: 50px;
  font-weight: 700;
}

.header p {
  font-size: 23px;
  padding-top: 15px;
  padding-bottom: 20px;
}
.middle-sec-1 {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-top: 30px;
}
.middle-sec-1 span {
  font-size: 25px;
  font-weight: 700;
  color: #e17055;
}
.middle-sec-1 h2 {
  font-size: 40px;
  padding: 18px;
}
.middle-sec-1 p {
  font-size: 18px;
  color: #636e72;
}
.middle-sec-2 {
  margin: 0 auto;
  height: 300px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.box-1 {
  height: 200px;
  text-align: center;
  margin: 20px;
  padding-top: 20px;
}
.box-1 span i {
  font-size: 50px;
  border: 2px solid none;
  border-radius: 50px;
  padding: 15px;
  color: #e17055;
}
.box-1 span i:hover {
  background: #e17055;
  color: aliceblue;
}
/* .span-constant {
  font-size: 50px;
  border: 2px solid none;
  border-radius: 50px;
  padding: 15px;
  color: #f8f5f4;
  background: #e17055;
} */

.box-1 h4 {
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.box-1 {
  font-size: 20px;
}
/* .box-1 span i:hover {
  background: #e17055;
  color: aliceblue;
} */
/* .box-1 .span-constant:hover {
  color: #f8f5f4;
  background: #e17055;
} */
.middle-sec-3 {
  display: flex;
  justify-content: center;
}
.var {
  width: 50%;
}
.var img {
  width: 100%;
  height: 500px;
}
.data-content {
  width: 50%;
  text-align: center;
}
.data-content h4 {
  font-size: 15px;
  color: #e17055;
}
.data-content h2 {
  font-size: 40px;
}
.data-contet-2 .one {
  padding: 20px 0;
}
.data-contet-2 .one i {
  font-size: 50px;
}

.data-contet-2 .one h5 {
  font-size: 20px;
}
.data-contet-2 .one p {
  font-size: 25px;
}
.middle-sec-4 {
  display: flex;
  margin-top: 90px;
}
.col-1 {
  width: 50%;
  padding-left: 50px;
  padding-right: 50px;
}
.col-content {
  width: 100%;
}
.col-content h5 {
  font-size: 25px;
  color: #e17055;
}
.col-content h2 {
  font-size: 45px;
  font-weight: 300px;
  margin: 25px 0;
}
.col-content p {
  font-size: 25px;
  margin-bottom: 25px;
}
.col-2 {
  width: 50%;
  padding-right: 30px;
  padding-left: 20px;
}
.col-2 img {
  width: 100%;
  height: 400px;
}
.middle-section-5 {
  margin: 0 auto;
  height: 950px;
  width: 100%;
}
.text-content {
  text-align: center;
  padding-top: 90px;
  background: url('/assets/images/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.text-content h4 {
  font-size: 50px;
}
.content-card {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.whole-item {
  width: 80%;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.card1 {
  width: 35%;
  height: 380px;
  border: 2px solid rgb(224, 217, 217);
  border-radius: 10px;
  text-align: center;
}
.card-items {
  margin-top: 30px;
}
.card-items span {
  font-size: 40px;
  color: #e17055;
}
.card-items h6 {
  font-size: 20px;
  padding-top: 30px;
  color: #1a1818;
  font-style: bold;
}
.card-items h6 span {
  font-size: 20px;
}
.card-items p {
  font-size: 20px;
  color: rgb(133, 123, 123);
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 2;
}
.section-6 {
  margin: 0 auto;
}
.sec-6-content {
  margin-top: 140px;
}
.text-div {
  text-align: center;
  line-height: 2;
}
.text-div span {
  font-size: 20px;
  color: #e17055;
}
.text-div h4 {
  font-size: 40px;
  color: #201c1c;
}
.cards {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.col-box-1 {
  text-align: center;
  padding-right: 90px;
  padding-left: 90px;
}
.col-box-1 h4 {
  font-size: 35px;
  color: rgb(37, 36, 36);
  line-height: 2;
}
.col-box-1 h3 {
  font-size: 40px;
  line-height: 2;
}
.col-box-1 span {
  font-size: 15px;
  color: #e17055;
}
.col-box-1 ul li {
  color: #636e72;
  list-style: none;
  font-size: 25px;
  line-height: 3;
}
.col-box-2 {
  text-align: center;
  padding-right: 90px;
  padding-left: 90px;
  border: 2px solid rgba(189, 171, 171, 0.5);
  border-radius: 10px;
}
.col-box-2 h4 {
  font-size: 35px;
  color: rgb(37, 36, 36);
  line-height: 2;
}
.col-box-2 h3 {
  font-size: 40px;
  line-height: 2;
}
.col-box-2 span {
  font-size: 15px;
  color: #e17055;
}
.col-box-2 ul li {
  color: #636e72;
  list-style: none;
  font-size: 25px;
  line-height: 3;
}
.MyButton {
  border-radius: 23px;
  border: 2px solid rgb(214, 185, 169);
  display: inline-block;
  cursor: pointer;
  color: #1d1919;
  font-family: Arial;
  font-size: 17px;
  padding: 10px 13px;
  text-decoration: none;
}

.MyButton:hover {
  background: rgb(224, 211, 204);
}
