* {
  margin: 0;
  padding: 0;
}

.nav-section {
  position: absolute;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  background: rgb(192, 192, 248);
  padding: 10px 5px;
}

img {
  margin: 15px;
}

.nav-items {
  /* background: red; */
}
.nav-items ul {
  padding: 10px;
  display: flex;
  column-gap: 25px;
  align-items: center;
}
.nav-items ul li {
  list-style: none;
  font-size: 20px;
}
.nav-items ul li a {
  text-decoration: none;
}

.myButton {
  background-color: rgb(224, 211, 204);
  border-radius: 23px;
  border: 2px solid #847675;
  display: inline-block;
  cursor: pointer;
  color: #1d1919;
  font-family: Arial;
  font-size: 17px;
  padding: 10px 13px;
  text-decoration: none;
}
.myButton:hover {
  background: rgb(244, 192, 166);
}

.header {
  text-align: center;
  padding-top: 70px;
  background: url("/assets/images/bg2.jpg");
  background-repeat: no-repeat;
  background-size: center;
  height: 400px;
}

.header h2 {
  font-size: 50px;
  font-weight: 700;
}

.header p {
  font-size: 23px;
  padding-top: 15px;
  padding-bottom: 20px;
}
